/*DraftVert Sympa #73AD21
Gold: 
rgba(228, 255, 218, 1)
https://www.w3schools.com/css/css_form.asp
*/

:root{
/*--borderColor: rgba(32, 178, 170, 1);*/
--borderColor: rgba(102, 205, 170, 1);
}

@font-face {
    font-family: titleFont;
    src: url(jaapokki-regular.ttf);
}

@font-face {
	font-family: textFont;
	src: url(Andika-R);
}
	
header.headerAcc {
	border-radius: 25px;
	background-image: url(/res/Img/Texture/congruent_pentagon.png);
	margin :0;
	padding:0;
	margin-bottom : 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	overflow : auto;
}

body
{
	background-image: url(/res/Img/Texture/seigaiha.png);
	font-family: textFont;
}

.backgroundBody
{
	margin: 0em, 3em;
	padding: 2em;
	border-radius: 25px;
	background-color: rgba(228, 255, 218, 1); 
}

.menu 
{
	display: flex;
	justify-content: space-between;
	padding: 0px 0px;
	padding-right: 1em;
	list-style: none;
	line-height: 21px;
	font-size : 1em;
	color: black;
	text-align : center;
}

.headerStyle
{
	font-family: titleFont;
}

.menuItems
{
	display: flex;
	margin: auto;
}

a.linksMenuItems
{
	margin: 0em 0em 0em 1em;
	padding: 0.2em 0.2em;
	font-size: 2em;
	color: black;
	text-decoration : none;
	border: 4px solid var(--borderColor);
	background-color: rgba(228, 255, 218, 1); 
}

a.linksMenuItems:hover
{
	border: 4px solid seagreen;
	text-decoration: underline;
}

.logoHome
{
	
}

.divFade
{
	position: relative;
	height:100px;
	width:177px;
	margin:0em 1em;
	border: 4px solid black;
}

.divFade img
{
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.divFade img.nofade:hover
{
	opacity:0;
}

.connect
{
	margin: 0em 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.5em;
}

div.lienConnec
{
	margin: 0em 0em 1em 0em;
	color: black;
	text-decoration : none;
}

a.lienConnec
{
	margin: 5px;
	padding: 5px;
	color: black;
	text-decoration : none;
	border: 3px solid black;
	background-color:rgba(228, 255, 218, 1);
}

a.lienConnec:hover
{
	color: black;
	text-decoration: underline;
	border: 3px solid slateblue;
}

div.lienInscr
{
	margin: 1em 0em 0em 0em;
	color: black;
	background-color:rgba(228, 255, 218, 1);
}

a.lienInscr
{
	margin: 5px;
	padding: 5px;
	color: black;
	text-decoration : none;
	border: 3px solid black;
	background-color:rgba(228, 255, 218, 1);
}

a.lienInscr:hover
{
	color: black;
	text-decoration: underline;
	border: 3px solid darkorange;
	text-align: justify;
}

.phraseAcc
{
	border-radius: 25px;
	border: 4px solid var(--borderColor);
	background-color: rgba(255, 255, 255, 0.6);
	padding: 1em, 2em; 
}

.presentationAcc
{
	border-radius: 30px;
	border: 8px solid var(--borderColor);
	padding: 2em;
	margin: 5em;
	background-color: rgba(255, 255, 255, 0.6);
}

.connexion
{
	diplay: flex;
	flex-direction: column;
	justify-content: center;
	
	
}

.footerClass
{
	flex: display;
	flex-direction: row;
	border-radius: 25px;
	background-image: url(/res/Img/Texture/congruent_pentagon.png);
	margin: 0em;
	padding: 2em;
	text-align: center;
	justify-content: space-between;
	
}

a.footerClass
{
	margin: 2em 2em;
	padding: 1em;
}

.statusList
{
	color: red;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px auto;
    cursor: pointer;
}

label
{
	text-align: center;
}

input
{
	text-align: center;
	margin-left: auto;
	/*margin-right: 5em;*/
	width: 60%;
}
