#listeJeu
{
	display : flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

div
{
	border-collapse: collapse;
}

.JA_jeu
{
	display: flex;
	flex-direction: row;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	border: 8px solid var(--borderColor);
	border-radius : 30px;
	background-color: rgba(255, 255, 255, 0.6);
	align-content: stretch;

	/*-webkit-flex-direction: row;
	-webkit-align-content: stretch;
	display: -webkit-flex;*/
}

.JA_jeuImage a img
{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.JA_jeuImage
{
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 20%;
	/*height:100%;*/
}

.JA_jeuPresentation
{
	width:80%;
	padding-left: 1em;
	border-left: 8px solid var(--borderColor);
	/*position:relative;*/
}

.JA_presentationText
{
	overflow: auto;
}


