.statsAccordion
{
}

.tabTitle
{
	float : left;
	padding : 0 0.5em;
	vertical-align:top;
	cursor:pointer;
}

.tableStats
{
	border-collapse : collapse;
	margin-left     : auto; 
    margin-right    : auto;
	table-layout    : fixed;
}

.tableStats, .tableStats th, .tableStats td
{
	border : 1px solid black;
}

.tableStats th
{
	padding : 10px;
	width : 150px;
}

.tableStats td
{
	margin : auto;
	width : 150px;
}

.headerStatsRow
{
}

.tabContent
{
	clear : both;
	min-height : 500px;
}

.tableDiv
{
	clear : both;
	min-height : 300px;
	column-width    : auto;
}

.studentDiv
{
	margin-right:15em;
}

.studentDiv div
{
	float : right;
}

.studentForm
{
	margin-top:3em;
}

.studentCara
{
	margin-top:3em;
	padding : 0 10em;
	padding-bottom: 10em;
}

.studentCara div
{
	float : right;
}

.studentName div
{
	clear : right;
	float : left;
}

.studentName
{
	margin-bottom:3em;
}

#firstNameStudent
{
	margin : 0 5em;
}

.nbGame div, .nbGame
{
	clear : right;
}

.nbGame div
{
	margin-bottom:0.5em;
}
