.statsAccordion
{
}

.tabTitle
{
	float : left;
	padding : 0 0.5em;
	vertical-align:top;
	cursor:pointer;
}

.tableStats
{
	border-collapse : collapse;
	margin-left     : auto; 
    margin-right    : auto;
	table-layout    : fixed;
}

.tableStats, .tableStats th, .tableStats td
{
	border : 1px solid black;
}

.tableStats th
{
	padding : 10px;
	width : 150px;
}

.tableStats td
{
	margin : auto;
	width : 150px;
}

.headerStatsRow
{
}

.tabContent
{
	clear : both;
	min-height : 500px;
}

.tableDiv
{
	min-height : 300px;
	column-width    : auto;
}
