.statsAccordion
{
}

.tabTitle
{
	float : left;
	padding : 0 0.5em;
	vertical-align:top;
	cursor:pointer;
}

.tableStats
{
	border-collapse : collapse;
}

.tableStats, .tableStats th, .tableStats td
{
	border : 1px solid black;
}

.listStudentTable th, .listStudentTable td
{
	padding : 0 50px;
}

.headerStatsRow
{
}

.tabContent
{
	clear : both;
}
