<!DOCTYPE html>
<html ng-app="demoApp" lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>        
        <!--<link rel="stylesheet" href="web/css/style.css">-->
        <script src="bower_components/angular/angular.js"></script>
        <script src="script/demo.js"></script>
    </head>
    <body>
        <header>
            <h1>Test/Demo</h1>
        </header>
		<div ng-controller="monCtrl" >
		
			<h1 ng-style={'background-color':{{bgC}}} ng-mousemove="hoverPhrase($event)" ng-click="changeColor($event)">Hello : {{phraseJeu.join(' ') +  valeur}}</h1>
			<span ng-repeat="pj in phraseJeu track by $index">
				<strong ng-mousemove="hoverPhrase($event)">{{pj}}</strong>
			</span>
			<canvas id="canvasJeu2" width="1500px" height="800">
			</canvas>
		</div>
		
        <section>
            ...
        </section>
    </body>
</html>